VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=playground-0505.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=playground-0505
VITE_FIREBASE_STORAGE_BUCKET=playground-0505.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=
